:root {
  --verde-escuro: #027A74;
  --verde-agua: #00B8A9;
  --verde-prio: rgb(82, 219, 69);
  --amarelo-prio: rgb(255, 230, 0);
  --cinza: #A2A59B;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  overflow-y: auto;
}

/* titulo & pesquisa */
.topo-pacientes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.titulo-area h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
}

.titulo-area p {
  margin: 0.2rem 0 0 0;
  font-size: 0.9rem;
  color: #000000; 
  line-height: 1.2;
}

.titulo-area p .alerta {
  color:  var(--verde-agua); 
}

.btn-pesquisa {
  background-color: white; /* cinza */
  border: 1.5px solid #999999; /* contorno cinza escuro */
  border-radius: 50%; /* contorno redondo */
  font-size: 1.3rem;
  color: black; 
  cursor: pointer;
  padding: 8px 10px; /* mais espaço pra ficar redondo */
  transition: background-color 0.3s, color 0.3s;
  margin-top: 6px;
}

.btn-pesquisa:hover {
  background-color: white; 
  color: rgba(74, 70, 70, 0.31); 
}

/* infopaciente (pages: medicamento, entrega, prontuario) */

.cabecalho-paciente {
  background-color: #ffffff;
  color: #333;
  border-radius: 12px;
  margin: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-left: 6px solid #00B894;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.95rem;
}

.cabecalho-paciente strong {
  color: #555;
}

.cabecalho-paciente p {
  margin: 4px 0;
}


.prioridade {
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
}

.prioridade.verde {
  background-color: #00B894;
  color: white;
}

.prioridade.amarela {
  background-color: #FDCB6E;
  color: white;
}

/* Botões superios | geral */

.botoes-superiores {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}

.botoes-superiores button {
  flex: 1;
  background: none;
  border: none;
  padding: 12px 0;
  color: #555;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}

.botoes-superiores button:hover {
  color: #333;
  background-color: #f8f8f8;
}

.botoes-superiores .ativo {
  color: #027A74;
  border-bottom: 3px solid #027A74;
  font-weight: bold;
}




/* navbar | geral */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: var(--cinza);
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-btn i {
  font-size: 18px;
  margin-bottom: 4px;
}

.nav-btn.ativo {
  color: var(--verde-escuro);
}

/* Animação de transição de páginas */

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* botões (config e ajuda) */

.config-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 10px;
}

.config-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.config-btn:hover {
  background-color: #027A74;
  color: white;
}

.btn-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-text {
  font-weight:lighter;
}

.btn-right {
  font-size: 18px;
}

.config-card {
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}

.config-card .config-btn {
  width: 100%;
  border-radius: 0;
  text-align: left;
  padding-left: 16px;
}

.config-card hr {
  border: none;
  border-top: 1px solid #cccccc68;
  margin: 0;
}

.config-card .config-btn:hover {
  background-color: #dcdcdc;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

