:root {
  --verde-escuro: #027A74;
  --verde-agua: #00B8A9;
  --cinza: #A2A59B;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  overflow-y: auto;
}

/* inpaciente (pages: medicamento, entrega, prontuario) */

.info-paciente {
  background-color: #027A74;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
}

.prioridade {
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
}

.prioridade.verde {
  background-color: #00B894;
}

.prioridade.amarela {
  background-color: #FDCB6E;
  color: black;
}
/* Botões superios | geral */

.botoes-superiores {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.botoes-superiores button {
  flex: 1;
  background-color: #00B8A9;
  border: none;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-right: 1px solid white;
}

.botoes-superiores button:last-child {
  border-right: none;
}

.botoes-superiores .ativo {
  background-color: #027A74;
}


/* navbar | geral */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #027A74;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.navbar button:hover {
  text-decoration: underline;
}

/* Animação de transição de páginas */

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* icons modifacao */


