:root {
  --verde-escuro: #027A74;
  --verde-agua: #00B8A9;
  --cinza: #A2A59B;
  --branco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--branco);
  overflow-y: auto;
}

/* inpaciente (pages: medicamento, entrega, prontuario) */

.info-paciente {
  background-color: #027A74;
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
}

.prioridade {
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
}

.prioridade.verde {
  background-color: #00B894;
}

.prioridade.amarela {
  background-color: #FDCB6E;
  color: black;
}
/* Botões superios | geral */

.botoes-superiores {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.botoes-superiores button {
  flex: 1;
  background-color: #00B8A9;
  border: none;
  padding: 12px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-right: 1px solid white;
}

.botoes-superiores button:last-child {
  border-right: none;
}

.botoes-superiores .ativo {
  background-color: #027A74;
}


/* navbar | geral */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #027A74;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.navbar button:hover {
  text-decoration: underline;
}

/* Animação de transição de páginas */

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* botões (config e ajuda) */

.config-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 10px;
}

.config-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.config-btn:hover {
  background-color: #027A74;
  color: white;
}

.btn-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-text {
  font-weight:lighter;
}

.btn-right {
  font-size: 18px;
}

.config-card {
  background-color: #f4f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}

.config-card .config-btn {
  width: 100%;
  border-radius: 0;
  text-align: left;
  padding-left: 16px;
}

.config-card hr {
  border: none;
  border-top: 1px solid #cccccc68;
  margin: 0;
}

.config-card .config-btn:hover {
  background-color: #dcdcdc;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
