/* Container principal da tela de ajuda */
.ajuda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 10px;
  font-family: sans-serif;
  gap: 30px;
}

/* Estilo do título principal (h2) dentro do container */
.ajuda-container h2 {
  color: #000000;
  font-size: 24px;
}


/* Grupos de ajuda e acessibilidade: agrupam botões ou seções */
.grupo-ajuda,
.grupo-acessibilidade {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}


/* Botão de ajuda genérico */
.ajuda-btn {
  padding: 10px;
  background-color: #00B8A9;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ajuda-btn:hover {
  background-color: #027A74;
}

