/* container da tela de login */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* caixa de login */
.login-box {
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: var(--verde-escuro);
}

.login-box input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid var(--cinza);
  border-radius: 4px;
}

.login-box button {
  padding: 0.6rem;
  background-color: var(--verde-agua);
  color: var(--branco);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #029a8f;
}


/* botão de login com google */
.botao-google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.15);
}

.botao-google:hover {
  background-color: #f0f0f0;
}

.botao-google svg {
  width: 24px;
  height: 24px;
  display: block;
}

/* botão de instalar app */
#install-button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}