.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: var(--verde-escuro);
}

.login-box input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid var(--cinza);
  border-radius: 4px;
}

.login-box button {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--verde-agua);
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #029a8f;
}
