.medicamento-container {
  font-family: sans-serif;
  padding-bottom: 80px;
}




.lista-medicamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.med-item {
  background-color: #F5F5F5;
  border-left: 4px solid #00B8A9;
  padding: 12px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 500px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


